body {
    color: rgb(252, 243, 243);
    background: rgb(0, 27, 9);
    margin: 0px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 6, 6); 
    padding: 20px;
    font-size: 40px;
    color: rgb(245, 10, 10);
}

.chamada {
    background: rgb(0, 27, 9);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 300px;
}

.categoria-Gangues {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

